maddy/build/*
maddy/test/userPreferences.*
maddy/test/Project/DerivedData/*
maddy/.vs/*
maddy/Objs/*
maddy/test/Plugins/maddy.bundle/Contents/Windows64/maddy.exp
maddy/test/Plugins/maddy.bundle/Contents/Windows64/maddy.lib
